@use '../variables' as *;
@use '../globals.scss' as *;


.hero-light {
    background-color: $if-bg-light ;
    color: $if-text-dark;
}

.hero-dark {
    background-color: $if-dark-bg;
    color: $if-dark-text;
}