// --- Pallet "Future and Innovation" ---
$if-bg-light: #EEF2FF;
$if-text-dark: #312E81;
$if-light-gray: #E0E7FF;
$if-cyan-light: #93C5FD;
$if-dark-indigo: #312E81;
$if-gradient-button: linear-gradient(to right, #6366F1, #8B5CF6);
$if-electric-purple: #A78BFA;

// --- Pallet "Future and Innovation" DARK ---
$if-dark-bg: #1E1E3F;
$if-dark-text: #D8D8F8;
$if-dark-gray: #3B3F72;
$if-dark-cyan: #5B9DF9;
$if-dark-indigo: #2B2A58;
$if-gradient-button-dark: linear-gradient(to right, #4F46E5, #7C3AED);
$if-electric-purple-dark: #8B7AED;

// others
$if-red-reproved: #EF4444;
$if-green-approved: #34D399;
$if-yellow-pending: #FACC15;
$if-orange-partially-approved: #FB923C;